html, body {
	background-color: #888;
}
body {        
	font: 62.5%/1.5 "Lucida Sans", Arial, Helvetica, sans-serif;
	color: #222222;  
}       
          
a:link, a:visited {
	color: #000;
}                                  

a:hover, a:active {
	color: #fff;
	background-color: #000;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 1.1em;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

a img {border:0px none;}  

.notice {
	color: green;
	padding: 4px;
	font-weight: bold;
	border: 1px solid green;
	margin: 8px;
	display: inline-block;
	background-color: #d3ecd3
}

.warning {
	
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 1.2em;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 1.2em;
  list-style: square;
}

/* Sign in/up process
------------------------*/

.user-form {
	width: 40%;
	display: inline-block;
	margin: 0;
	padding: 4%;
		vertical-align: top;
}

#signin-form {
	text-align: right;
}

#signin-form h2 {
	width: 50%;
	display: inline-block;
}

#signin-form form {
	display: inline-block;
	width: 50%;
}

#signin-form * {
	text-align: left;
}
    
/* Header
------------------------------*/

#header {
	background-color: #000;
	color: #eee;
	position: relative;
	line-height: 30px;
	padding: 0 8px;
	position: relative;
	z-index: 1;
}
#header a:link,#header a:visited {
	color: #eee;
}
#header a:hover,#header a:active {
	color: #fff;
}
#header #titles,#header h1,#account-name,#friends-followers,#header dl,#header dd,#header dt,#nav,#nav li {
	display: inline-block;
	vertical-align: top;
}
#titles {
	width: 480px;
	position: relative;
}
#account-name {
	font-size: 1.8em;
	position: absolute;
	right: 20px;
	top: 0;
}
#info-and-nav {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	left: 488px;
	min-width: 48em;
}
#friends-followers {
	font-size: 1.8em;
	width: 480px;
	float: left;
}
#nav {
	position: absolute;
	right: 8px;
	top: 0;
}
#nav li:before {
	content: "| ";
}
#nav .first:before {
	content: "";
}    
                       
#nav .account-list {
	display: inline-block; 
	vertical-align: middle;
	line-height: 1;
	padding-right: 16px;
	background: transparent url(/images/icons/control_270_small.png) no-repeat right top;
}     

#nav .account-list a {
	background: transparent;
	text-decoration: none;
	display: block;        
	margin: -2px -18px -2px -2px;
	padding: 2px 18px 2px 2px;                                                        
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

#nav .account-list li {
	display: block;
	padding: 1px 2px;
	visibility: hidden;
	height: 0;  
}                       

#nav .account-list:hover {
	background-color: #333;
	background-image: none; 
}

#nav .account-list:hover li {
	display: block !important;
	visibility: visible;
	height: auto; 
	line-height: 1.5 !important;
}             

#nav .account-list li a:hover {
	background-color: #111;
	display: block; 
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#nav .account-list li:before {
	content:'';
}

#nav .account-list li.current {
	display: inline-block;
	visibility: visible;
	height: auto;        
	text-decoration: underline;
}

/* Status update area
------------------------------*/

#status-update {      
	font-size: 1.2em;
	padding: 8px 8px 0 8px; 
	position: relative;  
} 

#status-update #new_twitter_status {
	width: 460px;
	padding-right: 20px; 
	position: relative;   
	text-align: right;
	vertical-align: middle;
}

#status-update #new_twitter_status legend {
	display: none;
}         

#status-update #new_twitter_status #what-are-you-doing {
	font-size: 1.1667em;
	text-align: left;
}    

#status-actions {
	display: block;
	margin-top: 0.8em; 
}                        

.shorten-links { 
	display: inline-block;
	text-align: left;
	width: 50%;              
	float: left;
	position: relative;
	top: 3px;
}

#status-actions > * {
	vertical-align: middle;
}

#status-actions button {
	font-size: 1em;    
	margin-left: 0.5em;
}

#status-update #new_twitter_status .update {
	margin-right: 20px;
	font-size: 1.4em;
}                     

#status-update #new_twitter_status textarea {
	width: 460px; 
	margin-right: 20px;
} 

#posting-style {
	position: absolute;
	left: 488px;
	top: 2em;
	font-size: 1.2em; 
	font-style: italic; 
	width: 360px;
	color: #333;
}      

#toggle-status-update {
	background: #888 url(/images/post-update-bg.gif) repeat-x 0 2px; 
	display: block;
	height: 29px;   
	padding-top:2px;
	text-align: center;   
	clear: right;
} 

.show-status {                                                       
	background: #888 url(/images/show-update-bg.gif) repeat-x 0 2px; 
}

#toggle-status-update span {
	display: inline-block;
	background: transparent url(/images/hide-post-update.gif) no-repeat 0 2px;
	height: 29px;
	width: 43px;
	text-indent: -999px;
	overflow: hidden;
	z-index: 0; 
	position: relative;
	top: -2px;
}  

#toggle-status-update.down span {
	background-image: url(/images/show-post-update.gif);
	position: relative;
	top: -6px;
}

#toggle-status-update.up {
	margin-top: 0;
}
#toggle-status-update span.up {
	background-image: url(/images/hide-post-update.gif);
}

/* Forms
------------------------------*/

form {
	display: block;
}

label {
	display: block;
}                

label.checkbox {
	display: inline-block;
	text-indent: 2px;   
	vertical-align: baseline;
	position: relative;  
	padding-left: 15px;
	line-height: inherit;
}                    

input[type=checkbox] {
	width: 1.5em;
	height: 1.5em;
	position: absolute; 
  left: 0;
	bottom: 0;
	margin-bottom: 2px;
	line-height: inherit;
}  

button {
	padding: 2px;       
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-width: 1px;      
	margin: 0;
} 

textarea {
	border: 1px solid #666;
	overflow: auto;
}
     
/* Tweet Stacks
------------------------------*/  
     
#columns {
	padding: 8px 6px 0 6px; 
	min-width: 1242px;
}

.column {
	display: inline-block;
	width: 300px;                   
	text-align: right;
	margin: 0 4px;     
	vertical-align: top;
}    

.column h3 { 
	font-size: 1.4em;
	line-height: 1;
	margin: 0;
	font-weight: bold;
	width: 232px;
	background-color: #737373;      
	display: inline-block;  
	padding: 4px 8px;
	text-align: left;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px; 
	border-width: 1px;
}

.stack {       
	background-color: #737373;
	padding: 1px 4px 4px 4px;  
	text-align: left;  
}              

.tweet {
	background: #eee;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-width: 1px;
	padding: 4px 4px 0px 56px;
	position: relative;
	min-height: 50px;
	margin-top: 4px; 
	-webkit-box-shadow: 0px 0px 12px #111;
	-moz-box-shadow: 0px 0px 12px #111;
} 
        
.tweet h4 {
	font-size: 1.4em;
	line-height: 0.8333;  
	margin-bottom: 0.333em;
}

.tweet h4 a {
	text-decoration: none;
}                       

.tweet .profile-image {
	position: absolute;
	left: 4px;
	top: 4px;    
	text-decoration: none;
	background-color: transparent; 
	height: 48px;
	width: 48px;
}                    

.tweet .dm-recipient {
	border:1px solid black;
	height:24px;
	width:24px;                  
	left:26px;
	top:26px;                  
	position:absolute;
	text-decoration:none;
}
                       
.tweet .dm-recipient img { 
	width: 24px;
	height: 24px;
}

.tweet .profile-image:hover {
	border: 2px solid #222;
	height: 44px;
	width: 44px;
	overflow: hidden;
}  

.tweet .dm-recipient:hover {
	border: 1px solid #eee;
	height: 24px;
	width: 24px;
	overflow: hidden;
}         

.tweet .profile-image:hover img {
	margin: -2px 0 0 -2px;
}

.tweet .dm-recipient:hover img {

}                    
                                                                                         
.tweet .hide-tweet {
	overflow: hidden;
	text-indent: -999px;
	background: transparent url(/images/icons/arrow_090_small.png) no-repeat bottom right;
	margin-bottom: -12px;
	position: absolute;
	bottom: 10px;
	left: 0px;
	height: 16px;
	width: 16px;
}
  
.tweet .text {
	word-wrap: break-word;
}

.tweet .time {
	font-style: italic;
	color: #666;
}

.birdherd-info li {
	min-height: 18px;
	margin: 0.5em; 
	background-position: center left;
	font-weight: bold;
	padding-left: 18px;
	margin-left: -18px;
}                                                                  
          
.birdherd-info .posted-by {
	background: transparent url(/images/icons/plus_shield.png) no-repeat; 
}         

.birdherd-info .replied-by {
	background: transparent url(/images/icons/reply.png) no-repeat;
}
    
.birdherd-info span {
	font-weight: normal;
}
.birdherd-info span:before {
	content: ': ';
}    

.actions textarea {
	width: 230px;
	border: 1px solid #999; 
	background-color: #efefef;
}

.actions ul {
	display: inline-block;
}

.actions ul li {
	display: inline-block;
	vertical-align: top;
	padding: 2px 4px;                     
	border: 1px solid #999;
	border-bottom: none;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	background: #DDD url(/images/action-button-up.png) repeat-x; 
} 

.actions li a {
	text-decoration: none; 
	color: #555;
	background-color: transparent;
} 

.actions li a:hover,.actions li a:active {
	color: #999;
} 

.actions li.down {
	background: #DDD url(/images/action-button-down.png) repeat-x;
	border-bottom: 2px solid #efefef;
	margin-bottom: -2px;
	position: relative;
	z-index: 1;
}

.actions label {
	display: none;
}
           
.send_response {
	position: relative;
}

.remaining {
	position: absolute;
	top: -1.6em;
	right: 0;
	text-align: right;
}   

.actions .update {
	float: right;
}
   
/* Active Tweet
------------------------------*/

.tweet.active .hide-tweet {
	display: none;
}
.tweet.active {
	background-color: #fff;
}               

/* Sticky Tweet
------------------------------*/

.tweet.sticky {
	padding-bottom: 4px;
}    

.tweet.sticky .hide-tweet {
	display: block;
}

/* Collapsed Tweet
------------------------------*/
           
.tweet.collapsed {
	padding-bottom: 2px;
	padding-right: 20px;
	-webkit-box-shadow: 0px 0px 0px #000;
	-moz-box-shadow: 0px 0px 0px #000;
}

.tweet.collapsed .actions {
	 display: none;
} 

.tweet .actions.inactive .send_response {
	display: none;
}

.tweet.collapsed .birdherd-info {
	position: absolute;
	right: 4px;
	top: 4px;                       
	width: 18px;
	display: inline-block;
}                          

.tweet.collapsed .birdherd-info li {
	margin: 0;
	padding: 0;                   
	background-position: top right;
}


.tweet.collapsed .birdherd-info li {
	text-indent: -999px;
	overflow: hidden;
	width: 18px;
	display: inline-block;
}
   
.tweet.collapsed .hide-tweet {
	display: none;
}

/* Misc Styles
------------------------------*/

#feedback-link{text-align:right;display:inline-block;background:transparent url(/images/icons/exclamation.png) no-repeat scroll left center;float:right;padding:0 0 0 20px;}

