html, body {
	height: 100%;    
}              

body {        
	background-color: #888;
	font: 62.5%/1.5 "Lucida Sans", Arial, Helvetica, sans-serif;
	color: #222222;  
}       
          
a:link, a:visited {
	color: #000;
}                                  

a:hover, a:active {
	color: #fff;
	background-color: #000;
}     

    
/* Header
------------------------------*/

#header{background-color:#000;color:#eee;position:relative;line-height:30px; padding: 0 8px; position: relative; z-index: 1;}
#header a:link,#header a:visited{color:#eee;}
#header a:hover,#header a:active{color:#fff;}
#header #titles,#header h1,#account-name,#friends-followers,#header dl,#header dd,#header dt,#nav,#nav li{display:inline-block;vertical-align:top;}
#titles{width:480px;position:relative;}
#account-name{font-size:1.8em;position:absolute;right:20px;top:0;}
#friends-followers{font-size:1.8em;width:480px;}
#nav{position:absolute;right:8px;bottom:0;}
#nav li:before{content:"| ";}
#nav .first:before{content:"";}

/* Status update area
------------------------------*/

#status-update {      
	font-size: 1.2em;
	padding: 8px 8px 0 8px; 
	position: relative;  
} 

#status-create {
	width: 460px;
	padding-right: 20px; 
	position: relative;   
	text-align: right;
	vertical-align: middle;
}

#status-create legend {
	display: none;
}         

#status-create #what-are-you-doing {
	font-size: 1.1667em;
	text-align: left;
}    

#status-actions {
	display: block;
	margin-top: 0.8em; 
}                        

.shorten-links { 
	display: inline-block;
	text-align: left;
	width: 50%;              
	float: left;
	position: relative;
	top: 3px;
}

#status-actions > * {
	vertical-align: middle;
}

#status-actions button {
	font-size: 1em;    
	margin-left: 0.5em;
}

#status-create .update {
	margin-right: 20px;
	font-size: 1.4em;
}                     

#status-create textarea {
	width: 460px; 
	margin-right: 20px;
} 

#posting-style {
	position: absolute;
	left: 488px;
	top: 2em;
	font-size: 1.2em; 
	font-style: italic; 
	width: 360px;
	color: #333;
}      

#toggle-status-update {
	background: #888 url(../images/post-update-bg.gif) repeat-x 0 2px; 
	display: block;
	height: 28px;   
	padding-top:2px;
	text-align: center;   
	clear: right;
} 

.show-status {                                                       
	background: #888 url(../images/show-update-bg.gif) repeat-x 0 2px; 
}

#toggle-status-update span {
	display: inline-block;
	background: transparent url(../images/hide-post-update.gif) no-repeat top left;
	height: 28px;
	width: 43px;
	text-indent: -999px;
	overflow: hidden;
	z-index: 0;
}

/* Forms
------------------------------*/

form {
	display: block;
}

label {
	display: block;
}                

label.checkbox {
	display: inline-block;
	text-indent: 2px;   
	vertical-align: baseline;
	position: relative;  
	padding-left: 15px;
	line-height: inherit;
}                    

input[type=checkbox] {
	width: 1.5em;
	height: 1.5em;
	position: absolute; 
  left: 0;
	bottom: 0;
	margin-bottom: 2px;
	line-height: inherit;
}  

button {
	padding: 2px;       
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-width: 1px;      
	margin: 0;
} 

textarea {
	border: 1px solid #666;
	overflow: auto;
}
     
/* Tweet Stacks
------------------------------*/  
     
#columns {
	padding: 0 6px;
}

.column {
	width: 300px;                   
	text-align: right;
}    

.column h3 { 
	font-size: 1.4em;
	line-height: 1;
	margin: 0;
	font-weight: bold;
	width: 232px;
	background-color: #737373;      
	display: inline-block;  
	padding: 4px 8px;
	text-align: left;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px; 
	border-width: 1px;
}

.stack {       
	background-color: #737373;
	padding: 4px;   
	text-align: left;
}              

.tweet {
	background: #eee;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-width: 1px;
	padding: 4px 4px 4px 56px;
	position: relative;
} 
        
.tweet h4 {
	font-size: 1.4em;
	line-height: 0.8333;
}

.tweet h4 a {
	text-decoration: none;
}                       

.tweet .profile-image {
	position: absolute;
	left: 4px;
	top: 4px;
}     
  
.tweet .text {
	margin: 2px 0;
}

.tweet .time {
	font-style: italic;
	color: #666;
}    

.birdherd-info li {
	min-height: 18px;
	margin: 2px;
}                                                                  
          
.birdherd-info .posted-by {
	background: transparent url(../images/icons/plus_shield.png) no-repeat; 
	padding-left: 18px;
	margin-left: -18px;
}         

.birdherd-info .replied-by {
	background: transparent url(../images/icons/reply.png) no-repeat;
	padding-left: 18px;
	margin-left: -18px;
}

.birdherd-info span:before {
	content: ': ';
}    

.actions textarea {
 width: 230px;
}

.actions ul {
	display: inline-block;
}

.actions ul li {
	display: inline-block;
}       

.actions label {
	display: none;
}

.remaining {
	float: right;
}   

.actions .update {
	float: right;
}


/* Misc Styles
------------------------------*/

#feedback-link{text-align:right;display:inline-block;background:transparent url(../images/icons/exclamation.png) no-repeat scroll left center;float:right;padding:0 0 0 20px;}

