<div id="<%= type %>" class="column">
	<h3><%= type.titlecase%></h3>

	 <ul class="stack">
			<% messages.each do |message| -%>
			<li class="tweet">
				<%= render_message account, message %>
			</li>
			<% end -%>
		</ul>
</div>