<div id="<%= type %>" class="column">
	<h3><%= type.titlecase%></h3>

	 <ul class="stack">
			<% messages.each do |message| -%>
				<%= render_message account, message, type %>
			<% end -%>
		</ul>
</div>