<p>You'll need to authorise an account with twitter before you go any further.</p>

<% form_for [@user, @account], :url =>  user_twitter_users_path  do |f| -%>
	<%= f.submit "Authorise", :disable_with => 'Submiting...' %>
<% end -%>