<%= h @account.screen_name %>
<ul>
<% @account.statuses.each do |status| -%>
	<li><%= h status.text %>			<%= link_to 'reply', twitter_user_twitter_status_reply_path(@account,status) %></li>
<% end -%>
</ul>

<%= link_to 'Show statuses', twitter_user_twitter_statuses_path(@account) %>